@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&family=Mulish:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;1,100;1,200;1,300;1,500;1,700&family=Vina+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}
body{
    background-color: rgb(3, 12, 41);
    color: aliceblue;
}
.heading{
    text-align: center;
    margin: 2rem 1rem;
}
 .conatiner{
    text-align: center;
}
.conatiner .inputtext{
/* background:rebeccapurple; */
        height: 38px;
        /* width: 36%; */
        padding: 1rem 2rem;
        font-size: 1.1rem;
        border-radius: 10px;
        border: none;
        border: 1px solid rgba(0, 0, 0, 0.367);
        outline: none;
}


.conatiner .inputtext:hover{
    /* background-color: rgb(179, 179, 147); */
    color: rgb(0, 0, 0);
    /* border: 1px solid rgb(255, 136, 0); */
    border: navy;
}
.conatiner .btn{
    max-width: 95px;
    height: 37px;
    margin-left: 1.1rem;
    border-radius: 7px;
    background-color: rgb(18, 141, 207);
    border: none;
  font-size: 1.3rem;
}
 .conatiner .btn:hover{
 background-color:rgb(141, 185, 209); 
 }


 .imgCard{
    background-color: aliceblue;
    width: 350px;
    height: 279px;
 border-radius:8px ;
 transition: 0.2s case-in-out;
 cursor: pointer;
 }
 .imgCard:hover{
background-color: rgb(205, 225, 243);
box-shadow: 0 0 10px rgb(138, 188, 232);;
 }
 .imgCard .imge{
    width: 350px;
height: 200px;
overflow: hidden;
object-fit: cover;
border-radius: 3px;

 }

.DynamicContainer{
   margin: 50px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 50px;
}
 main{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
 }
 .showmore{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
 }
 .showmore .showbtn{
    width: 147px;
    height: 40px;
    margin-left: 20px;
    border-radius: 7px;
    background-color: rgb(18, 141, 207);
    border: none;
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 10px;
    font-weight: 500;
 }
 .showmore .showbtn:hover{
    background-color:rgb(141, 185, 209);
 }
 .imgCard a{
    text-decoration: none;
    color: rgb(30, 27, 27);
    font-size: 18px;
    padding-left: 20px;
    text-transform: capitalize;
 }

 @media screen and (max-width: 767px) {
   .conatiner .inputtext {
       width: 20rem;
   }

}
